
#SearchResults									{ display:block; list-style:none; }
#SearchResults > li								{ padding-top:25px; margin-left:0; margin-top:25px; border-top:1px solid #666; }
#SearchResults > li:first-child					{ padding-top:0; margin-top:0; border:none; }
#SearchResults a.searchResultHeader				{ font-weight:bold; font-size:1.2em; }
#SearchResults > li p							{ margin-bottom:5px; }

#SearchForm_Results								{ margin-bottom:30px; display:flex; justify-content:flex-start; align-items:flex-start; width:500px; max-width:100%; }
#SearchForm_Results > *							{ }
#SearchForm_Results div.middleColumn			{ max-width:none; }
#SearchForm_Results .field.text					{ margin:0; width:100%; flex-grow:1; }
#SearchForm_Results .btn-toolbar				{ margin-left:5px; }
#SearchForm_Results .btn-toolbar input:hover,
#SearchForm_Results .btn-toolbar input:focus		{ cursor:pointer; }


.pagination										{ clear:both; margin:0; padding-top:30px; }